<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Last Stand
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">The Last Stand</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Menu</ion-label>
    <ion-select [(ngModel)]="opcionSeleccionada" interface="popover">
      <ion-select-option value="opcion1">Astillero</ion-select-option>
      <ion-select-option value="opcion2">Opción 2</ion-select-option>
      <ion-select-option value="opcion3">Opción 3</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-title>Juego de Barcos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <canvas #gameCanvas></canvas>

  <!-- Ejemplo de Select para opcionSeleccionada -->
  <ion-item>
    <ion-label>Opciones</ion-label>
    <ion-select [(ngModel)]="opcionSeleccionada" placeholder="Selecciona una opción">
      <ion-select-option value="opcion1">Opción 1</ion-select-option>
      <ion-select-option value="opcion2">Opción 2</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

