<ion-header>
  <ion-toolbar>
    <ion-title>The Last Stand TLS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light" fullscreen>
  <canvas #gameCanvas></canvas>
  <div class="comandos">
    <button (click)="mover('arriba')">↑</button>
    <button (click)="mover('izquierda')">←</button>
    <button (click)="mover('abajo')">↓</button>
    <button (click)="mover('derecha')">→</button>
    <button (click)="disparar()">🔥 Disparar</button>
  </div>

</ion-content>
