canvas {
  display: block;
  background: #007bff;
  width: 100%;
  height: 100%;
}

.comandos {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background: #ffffffaa;
}
